body {
  background: #f3f3f3; }

.navbar-default {
  margin-bottom: 0px !important;
  padding: 10px 0px;
  background-color: #76c7c0 !important;
  border-color: transparent !important;
  border-radius: 0px !important;
  color: #fff;
  border-image-width: 10px;
  border-image-source: url(../images/navline.png);
  border-image-slice: 0 15 20 20;
  border-image-repeat: repeat; }

.navbar-header > .navbar-brand {
  color: #fff; }

.navbar-default .navbar-nav > li:not(:last-child) {
  margin-right: 10px; }

.navbar-default .navbar-nav > li > a {
  color: #fff; }

.navbar-default .navbar-nav > li > a.active {
  background: #62a29e;
  margin-top: 5px;
  padding-top: 11px;
  padding-bottom: 10px;
  margin-bottom: 7px;
  border-radius: 7px;
  border-bottom: 4px solid #528b86; }

.navbar-default .navbar-nav > li > a.active:hover,
.navbar-default .navbar-nav > li > a.active:visited {
  color: #fff; }

.navbar-default .navbar-nav > li > a:not(.active):hover,
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #fff;
  background: #e8645a;
  margin-top: 5px;
  padding-top: 11px;
  padding-bottom: 10px;
  margin-bottom: 7px;
  border-radius: 7px;
  border-bottom: 4px solid #e2534b; }

.navbar-nav > .dropdown > #menu_tooltip {
  position: absolute;
  display: none;
  bottom: -5px;
  z-index: 100; }

.navbar-nav > li > .dropdown-menu {
  margin-top: 5px;
  padding: 5px;
  background: #e2534b;
  right: inherit !important;
  left: 0px !important;
  border-radius: 5px;
  border: 0px; }

.navbar-nav > li > .dropdown-menu > li {
  padding: 2px; }

.navbar-nav > li > .dropdown-menu > li > a {
  padding: 7px 20px !important;
  color: #fff;
  border-radius: 3px;
  background: #e5655d; }

.navbar-nav > li > .dropdown-menu > li > a:hover {
  background: #76c7c0; }

.navbar-default .navbar-form {
  display: none; }

.navbar-default .navbar-form input {
  border-radius: 25px; }

.carousel-control .glyphicon-menu-left, .carousel-control .icon-prev {
  position: absolute;
  padding: 10px 5px;
  top: 50%;
  z-index: 5;
  display: inline-block;
  left: 0% !important;
  background: #e8645a;
  border-radius: 0px 5px 5px 0px; }

.carousel-control .glyphicon-menu-right, .carousel-control .icon-next {
  position: absolute;
  padding: 10px 5px;
  top: 50%;
  z-index: 5;
  display: inline-block;
  right: 0% !important;
  background: #e8645a;
  border-radius: 5px 0px 0px 5px; }

.carousel-caption h3 {
  padding: 5px 10px;
  text-transform: uppercase;
  display: inline-block;
  background: #e8645a; }

.carousel-caption p {
  padding: 5px 20px;
  display: inline-block;
  background: #3f4646; }

#top_container {
  padding-bottom: 50px; }

#top_container .panel-default {
  margin-bottom: 50px; }

#top_container .panel-default .panel-body {
  background: #ececec; }

#top_container .panel-default .panel-body h3 {
  display: inline-block;
  color: #7f8c8c; }

#top_container .panel-default .panel-body p {
  display: inline-block;
  color: #878787; }

#top_container .panel-default .panel-body button {
  position: relative;
  bottom: 20px;
  background: #e8645a; }

.contents {
  width: 23.35% !important;
  padding: 50px 10px 100px 10px;
  text-align: center;
  background: #f8f8f8; }

.contents button {
  position: absolute;
  bottom: -15px;
  color: #fff;
  border-radius: 7px; }

.contents:first-child {
  background: #fff; }

.contents:first-child button {
  background: #76c7c0;
  border-bottom: 4px solid #62b9b0; }

.contents:not(:first-child) button {
  background: #e8645a;
  border-bottom: 4px solid #e2534b; }

.contents:not(:last-child) {
  margin-right: 25px; }

.container-fluid#middle {
  background: #ececec;
  background: -moz-linear-gradient(top, #ececec 0%, #ececec 36%, white 36%, white 36%, white 37%, white 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ececec), color-stop(36%, #ececec), color-stop(36%, white), color-stop(36%, white), color-stop(37%, white), color-stop(100%, white));
  background: -webkit-linear-gradient(top, #ececec 0%, #ececec 36%, white 36%, white 36%, white 37%, white 100%);
  background: -o-linear-gradient(top, #ececec 0%, #ececec 36%, white 36%, white 36%, white 37%, white 100%);
  background: -ms-linear-gradient(top, #ececec 0%, #ececec 36%, white 36%, white 36%, white 37%, white 100%);
  background: linear-gradient(to bottom, #ececec 0%, #ececec 36%, white 36%, white 36%, white 37%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec', endColorstr='#ffffff', GradientType=0 ); }
  .container-fluid#middle #middle_container {
    text-align: center; }
    .container-fluid#middle #middle_container h3 {
      color: #e1524b; }
    .container-fluid#middle #middle_container p#middle_subtitle {
      margin-bottom: 60px; }
    .container-fluid#middle #middle_container #middle_img {
      margin-bottom: 30px; }
    .container-fluid#middle #middle_container h4 {
      color: #7f8c8c;
      font-weight: bold; }
    .container-fluid#middle #middle_container span {
      margin-right: 15px;
      color: #e1524b; }
    .container-fluid#middle #middle_container p#middle_text {
      margin-bottom: 50px;
      padding: 0px 10px;
      text-align: left; }
    .container-fluid#middle #middle_container #client_testi_container div#client_testi {
      padding: 15px;
      border-radius: 5px;
      background: #fff;
      text-align: initial; }
    .container-fluid#middle #middle_container #client_testi_container img {
      position: absolute;
      left: 40px; }
    .container-fluid#middle #middle_container #client_testi_container span#client_name {
      margin-top: 15px;
      color: #7f7f7f;
      font-weight: bold;
      left: -20px;
      top: 10px;
      position: relative; }
    .container-fluid#middle #middle_container .row:nth-child(2) {
      margin-bottom: 20px; }
    .container-fluid#middle #middle_container #client_silder_holder h4 {
      margin-top: 0px; }
    .container-fluid#middle #middle_container #client_silder_holder img {
      margin-top: 5px; }
    .container-fluid#middle #middle_container #client_silder_holder a {
      position: relative;
      top: -15px; }
    .container-fluid#middle #middle_container #slider_wrapper {
      margin: 20px 0px 20px 0px; }
      .container-fluid#middle #middle_container #slider_wrapper .slide_items {
        margin-bottom: 20px; }

footer#top {
  padding: 40px 0px;
  background: #76c7c0;
  border-image-width: 15px;
  border-image-source: url(../images/line.png);
  border-image-slice: 20 15 0 20;
  border-image-repeat: repeat; }

footer#top h4 {
  margin-top: 20px !important; }

footer#top ul {
  padding-left: 15px;
  list-style-type: none;
  color: #fff; }

footer#top ul li a {
  color: #fff; }

footer#top ul li a:hover {
  text-decoration: none; }

footer#top img {
  transform: scale(0.9); }

footer#bottom {
  padding: 15px;
  background: #6ab3ac;
  color: #fff; }

footer#bottom a i {
  transform: scale(1.7);
  color: #fff; }

footer#bottom a:not(:last-child) {
  margin-right: 20px; }
